.list-group,
.list-group-item {
  border-radius: 0;
}
.rounded {
  border: 2px solid #000;
  border-radius: 20px;
}
/* .container-fluid {
  margin-top: 20px;
} */

.input-group,
.rounded,
.list-group {
  margin-bottom: 20px;
}

.wd-ass-color {
  color: white;
}
.col-sm-1 {
  margin-right: 0px;
}

.fa.fa-link {
  color: green;
}

.fa.fa-ellipsis-v {
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 10px;
  height: 25px;
}

.fa.fa-plus {
  margin: 10px;
}
ul.list-group {
  border-radius: 0%;
}

.breadcrumb li {
  margin-top: 15px;
  font-size: 20px;
}

.breadcrumb i {
  font-size: 20px;
  margin-right: 10px;
}

.breadcrumb-item li {
  color: red;
}

.fa.fa-check-circle {
  color: green;
  margin: 10px;
}
.list-group-item a {
  color: black;
  text-decoration: none;
}

#wd-course-status {
  margin-top: 25px;
  margin-bottom: 30px;
}

#special-icon {
  color: white;
  margin: 0;
}

.wd-todo {
  color: red;
  text-decoration: none;
  font-size: 20px;
}

.wd-title {
  margin-top: 20px;
}

.wd-title a {
  text-decoration: none;
  color: red;
}

.wd-flex-grow-1 .list-group .list-group-item {
  border-left: 4px solid green;
}

.wd-flex-grow-1 .list-group .list-group-item.list-group-item-secondary {
  border-left: 1px solid #c0c0c0;
}

.wd-form-control {
  width: 200px;
}

span {
  font-size: 20px;
}

.wd-rounded {
  border-radius: 20px;
  border-style: solid;
  border-color: gray;
  padding: 5px;
}

.list-group .col-1 {
  margin-top: 30px;
  font-size: 20px;
  padding-right: 5px;
  margin-left: 0px;
  padding-left: 0px;
}

.fa.fa-pencil-square-o {
  color: green;
  margin-top: 7px;
}
