.form-control {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#exampleInputPassword1 {
  width: 100%;
  background-color: #dcdcdc;
}
.btn.dropdown-toggle {
  border: solid 1px #cfcfcf;
  width: 635;
  text-align: left;
}

.btn.dropdown-toggle.online {
  border: solid 1px #cfcfcf;
  width: auto;
  text-align: left;
}

.wd-margin-vertical {
  margin-top: 10px;
  margin-bottom: 10px;
}
.container {
  padding-left: 0px;
}
.form-control {
  font-size: smaller;
}
